---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "DHCP"
description: |-
  Manages a dhcpv4 reservation on OPNsense.
---
# {{.Name}} ({{.Type}})
Manages a dhcpv4 reservation on OPNsense via the Kea DHCP server.
## Example Usage
{{tffile "examples/resources/opnsense_dhcpv4_reservation/resource.tf"}}
{{ .SchemaMarkdown | trimspace }}
## Import
{{codefile "shell" "examples/resources/opnsense_dhcpv4_reservation/import.sh"}}
