---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "IPsec"
description: |-
  Manages a ipsec child on OPNsense.
---
# {{.Name}} ({{.Type}})
Manages a ipsec child on OPNsense.
## Example Usage
{{tffile "examples/resources/opnsense_ipsec_child/resource.tf"}}
{{ .SchemaMarkdown | trimspace }}
## Import
{{codefile "shell" "examples/resources/opnsense_ipsec_child/import.sh"}}
