---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "BGP"
description: |-
  Manages a BGP route map on OPNsense.
---

# {{.Name}} ({{.Type}})

Manages a BGP route map entry on OPNsense via the FRR/Quagga plugin. Requires `os-frr`.

## Example Usage

{{tffile "examples/resources/opnsense_quagga_route_map/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

{{codefile "shell" "examples/resources/opnsense_quagga_route_map/import.sh"}}
