---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "BGP"
description: |-
  Manages a BGP neighbor on OPNsense.
---

# {{.Name}} ({{.Type}})

Manages a BGP neighbor peering session on OPNsense via the FRR/Quagga plugin. Requires `os-frr`.

## Example Usage

{{tffile "examples/resources/opnsense_quagga_bgp_neighbor/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

{{codefile "shell" "examples/resources/opnsense_quagga_bgp_neighbor/import.sh"}}
