---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "BGP"
description: |-
  Manages a BGP prefix list on OPNsense.
---

# {{.Name}} ({{.Type}})

Manages a BGP prefix list entry on OPNsense via the FRR/Quagga plugin. Requires `os-frr`.

## Example Usage

{{tffile "examples/resources/opnsense_quagga_prefix_list/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

{{codefile "shell" "examples/resources/opnsense_quagga_prefix_list/import.sh"}}
