---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "System"
description: |-
  Manages a static route on OPNsense.
---

# {{.Name}} ({{.Type}})

Manages a static route on OPNsense.

## Example Usage

{{tffile "examples/resources/opnsense_system_route/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

{{codefile "shell" "examples/resources/opnsense_system_route/import.sh"}}
