---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "System"
description: |-
  Manages a gateway on OPNsense.
---

# {{.Name}} ({{.Type}})

Manages a network gateway on OPNsense.

## Example Usage

{{tffile "examples/resources/opnsense_system_gateway/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

{{codefile "shell" "examples/resources/opnsense_system_gateway/import.sh"}}
