---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "System"
description: |-
  Manages a virtual IP on OPNsense.
---

# {{.Name}} ({{.Type}})

Manages a virtual IP (CARP, IP Alias, Proxy ARP) on OPNsense.

## Example Usage

{{tffile "examples/resources/opnsense_system_vip/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

{{codefile "shell" "examples/resources/opnsense_system_vip/import.sh"}}
